################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPattern/DesignPattern/obj
/DesignPattern/DesignPattern/bin/Debug/netcoreapp3.1
/DesignPattern/.vs/DesignPattern
